<header>
  <div class="container">
    <a routerLink="/" class="logo">Timer</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <div class="menu-container">
          <div><a routerLink="/dashboard">Menu</a></div>
          <ul class="menu">
            <li><a routerLink="/new">Timer</a></li>
            <li><a routerLink="/logout">Logout</a></li>
          </ul>
        </div>
        <li>
          <a routerLink="/new-projects">
            Add event
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

